<a href="https://colab.research.google.com/github/cris-renee/AccountChecker/blob/master/Copy_of_crystal_morell_loan_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Setup and loading data
import pandas as pd

# Load the dataset
# If the file is in your main Colab folder, the path is 'bank_loan.csv'
try:
    df = pd.read_csv('/bank_loan.csv')
    print("Dataset loaded successfully.")
except FileNotFoundError:
    print("File not found. Please upload 'bank_loan.csv' to the Colab sidebar.")

Dataset loaded successfully.

In [ ]:
#Data Inspection
# View the first 5 rows to see the data structure
print("--- First 5 Rows ---")
display(df.head())

# Check for data types and non-null counts
print("\n--- Data Structure and Info ---")
df.info()

# Check for the number of missing values in each column
print("\n--- Missing Values Count ---")
print(df.isnull().sum())

--- First 5 Rows ---

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91108,4,1/60,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1/50,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1/00,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2/70,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1/00,2,0,0,0,0,0,1

--- Data Structure and Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   object
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: int64(13), object(1)
memory usage: 547.0+ KB

--- Missing Values Count ---
ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [ ]:
#Data Cleaning
# 1. Handling Missing Values
# Strategy: If the missing data is in a critical column (like 'Loan_ID'), we drop it.
# For numerical columns like 'LoanAmount', we fill with the median to avoid outliers.
if 'LoanAmount' in df.columns:
    df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].median())

# 2. Removing Duplicates
# Strategy: Duplicate entries can skew statistical analysis and lead to double-counting.
initial_rows = len(df)
df.drop_duplicates(inplace=True)
print(f"Removed {initial_rows - len(df)} duplicate rows.")

# 3. Fixing Inconsistencies
# Strategy: Ensure categorical data is uniform (e.g., changing 'YES'/'yes' to 'Yes')
# Here we strip whitespace from any string columns
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

print("\nCleaning complete.")

Removed 0 duplicate rows.

Cleaning complete.

In [ ]:
#Save cleaned dataset
# Save to a new CSV file without the index column
df.to_csv('bank_loan_cleaned.csv', index=False)

print("Cleaned dataset saved as 'bank_loan_cleaned.csv'.")

Cleaned dataset saved as 'bank_loan_cleaned.csv'.